.MovieBox {
    background-color: white;
    color: #4d4d4d;
    margin: 5rem auto;
    width: 60%;
    max-width: 600px;
    padding: 12px 12px;
    overflow: hidden;
    box-shadow: 5px 10px 8px #b3b3b3;
    border-radius: 12px;
}

.MovieHeader {
    display: flex;
    justify-content: space-between;
}

.MovieCover {
    float: right;
    margin: 12px 0px 12px 22px;
    border-radius: 12px;
}

.MovieTitle {
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}

.MovieTitle:hover {
    color: #737373;
}

.Description {
    text-align: justify;
    color: #404040
}

.DescriptionTitle {
    margin-bottom: 5px;
}

@media screen and (max-width: 1400px) {
    .MovieCover {
        height: 240px;
    }
}